/* tsv moosach header*/

#nav1 a {
    font-family: 'Oswald', sans-serif;
    color: #fafafa;
    letter-spacing: 2px;
    font-size: 16px;
}

#nav2 a {
    font-size: 11px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #999;
    font-family: 'Oswald', sans-serif;
    padding: 0 10px;
}

.bg-green {
    background-color: #33ae18;
}

.bg-light {
    background-color: #f5f5f5 !important;
}

.bg-medium {
    background-color: #e5e5e5 !important;
}

label {
    padding-bottom: 0px !important;
    margin-bottom: 0px !important;
    font-size: .875rem;
    line-height: 1.5;
}

#title p {
    font-family: 'Oswald', sans-serif;
    font-size: 32px;
    letter-spacing: 1px;
    font-weight: 700;
    color: #333;
    padding: 25px;
    margin: 0 !important;
}

#breadcrumb a {
    color: gray;
    font-size: 12px;
    line-height: 35px;
    font-family: 'Droid Sans', sans-serif;
}

#breadcrumb .fa-angle-right {
    font-size: 16px;
    padding: 0 15px;
    line-height: 35px;
    color: #ccc;
}

.border-bottom-green {
    border-bottom-color:#33ae18;
    border-bottom-width: 3px;
    border-bottom-style: solid;
}

#footer {
    background-color: #272727;
    border-top: 20px solid #333;
    color: #ccc !important;
    font-size: 14px;
    line-height: 1.5;
    font-family: 'Droid Sans', sans-serif;
}

#footer a {
    color: #fe8f00 !important;
}

#footer h3 {
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 16px;
    text-align: center;
    margin: 3rem 0 35px 0;
    color: #f2f2f2;
    line-height: 3;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
}

#footer h3 span {
    padding-bottom: 10px;
}

#footer-bottom {
    background: #1c1d1e;
    padding: 30px 0;
    font-size: 12px;
    font-family: 'Droid Sans', sans-serif;
}

#footer-bottom a {
    color: #b3b3b3;
    font-size: 12px;
    padding-left: 10px;
    font-family: 'Droid Sans', sans-serif;
}

